<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mSPD">
      <h2 data-cy="mSPDDetailsHeading"><span>MSPD</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ mSPD.id }}</span>
        </dd>
        <dt><span>Street Address</span></dt>
        <dd>
          <span>{{ mSPD.streetAddress }}</span>
        </dd>
        <dt><span>Postal Code</span></dt>
        <dd>
          <span>{{ mSPD.postalCode }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ mSPD.city }}</span>
        </dd>
        <dt><span>State Province</span></dt>
        <dd>
          <span>{{ mSPD.stateProvince }}</span>
        </dd>
        <dt><span>Machine</span></dt>
        <dd>
          <div *ngIf="mSPD.machine">
            <a [routerLink]="['/machine', mSPD.machine.id, 'view']">{{ mSPD.machine.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication2/mspd', mSPD.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
